---
import Layout from "../layouts/Layout.astro"
---

<Layout>

  <body>
      <h1 class="flex justify-center text-4xl">Carta de Platos</h1>
      
      <!-- Contenedores de categorías se crearán dinámicamente -->
      <div id="carta" class="max-w-120 flex-col items-center"></div>
      
      <script type="module" src="/scripts/Categorias.js"></script>
    </body>
    </html>
    
</Layout>